* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-transition-property: all;
	-webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);   
}

body {
    background: #1b1b1b;
    font-family: 'Montserrat', sans-serif;
}

/* navbar styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.title {
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 10px;
}

.btn {
    color: #fff;
    background: rgb(0, 0, 0, 0.0);
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 20px 20px;
    color: #1b1b1b;
}
/* navbar styling */

/* page layout */
.container {
    border: 0px solid #fff;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
}

.aboutText1 {
    padding: 50px 40px;
    float: left;
    width: 50%;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}

img.first {
    float: left;
    height: 400px;
    width: 400px;
    margin-top: 15px;
    margin-left: 90px;
    border-radius: 10px;
}

img.second {
    float: right;
    height: 400px;
    width: 400px;
    margin-top: 400px;
    margin-right: 20px;
    border-radius: 10px;
}

.aboutText2 {
    /* padding-top: 150px; */
    padding: 150px 0px 150px 150px;
   /*  padding-left: 150px; */
    margin: 30px 20px;
    float: right;
    width: 40%;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}

h1.title2 {
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
}